@model EmergencyRoom.RegisterPatientCommand

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RegisterPatientCommand</legend>
         <div class="editor-label">
            @Html.LabelFor(model => model.StreetNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StreetNumber)
            @Html.ValidationMessageFor(model => model.StreetNumber)
        </div> 
        <div class="editor-label">
            @Html.LabelFor(model => model.StreetLine1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StreetLine1)
            @Html.ValidationMessageFor(model => model.StreetLine1)
        </div> 
        <div class="editor-label">
            @Html.LabelFor(model => model.StreetLine2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StreetLine2)
            @Html.ValidationMessageFor(model => model.StreetLine2)
        </div> 
        <div class="editor-label">
            @Html.LabelFor(model => model.Suburb)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Suburb)
            @Html.ValidationMessageFor(model => model.Suburb)
        </div> 
        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div> 
        <div class="editor-label">
            @Html.LabelFor(model => model.Postcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Postcode)
            @Html.ValidationMessageFor(model => model.Postcode)
        </div> 
        <div class="editor-label">
            @Html.LabelFor(model => model.MedicareNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MedicareNumber)
            @Html.ValidationMessageFor(model => model.MedicareNumber)
        </div> 
        <p>
            <input type="submit" value="Register" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
